* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}



.profileAvatarRegion {
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
  padding: 0;
  background-image: url("../../vendors/images/computer-blurred.jpg");
  background-size: cover;
  clip-path: polygon(0 3em, 100% 0, 100% calc(100% - 3em), 0% 100%);
}

.profileAvatarRegion .blendcolor {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00a8ff;
  opacity: 90%;
}

.profileAvatarRegion .innerCenter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 62%;
  width: 62%;
  position: relative;
  left: 19%;
  top: 19%;
}

.minimenu {
    margin: 1em auto;
}

.minimenuitem {
    display: block;
    float: left;
    height: 35px;
    width: 30%;
    margin: 0.5em;
    background-color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 3px;
    color: #00a8ff;
}

.minimenuitem a{
    margin: auto;
}

.minimenuitem a:visited{
    color: #00a8ff;
}